* {
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
}

.hidden {
    display: none; 
}
canvas {
    border-radius: 50px;
    margin-left: 200px;
}
.splash {
    background-image: url("../images/splash.jpg");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    position: relative;
    padding-left: 100px;
    padding-top: 100px;
}
.instructions{
   width: 800px; 
   font-size: 28px;
   padding-top: 30px;
}
.arrows-img {
    height: 250px;
    padding-left: 100px;

}
.ramen {
    height: 700px;
    padding-right: 100px;
    transform: rotate(-20deg);
}
h1 {
   font-size: 100px;
   margin: 0;
}

.start-game {
    display: flex;
    
}
button {
 font-size: 40PX;
 border-radius: 15px;
}
button:hover {
    background-color: #669900;
    color: white;
}
.game-board {
    margin-top: 100px;
}
.scoreNtime {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    font-size: 40px;
}